@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #2d2c39;
}

::-webkit-scrollbar-thumb {
  background-color: #4979ee;
}

@supports (scrollbar-color: #4979ee #2d2c39) {
  * {
    scrollbar-color: #4979ee #2d2c39;
    scrollbar-width: thin;
  }
}
